/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,900|Permanent+Marker|Playfair+Display:400,400i,700,700i,900,900i|Montserrat:300,300i,400,400i,500,500i,600,700,700i,800|Open+Sans:400|Roboto:400,400i,500,500i,700,700i,900|Reenie+Beanie");
@import url("https://fonts.googleapis.com/css?family=Spectral:600i&display=swap");
@import 'cerebrisans.css';
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {

    font-size: 13px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Poppins", sans-serif;
    color: #333333;
    overflow-x: hidden;
    transition: background-color .5s;
}

a:hover, a:focus {
    text-decoration: none;
}

textarea, select, input, button:focus {
    outline: none !important;
    box-shadow:none !important;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.m30 {
    margin: 30px;
}

.m40 {
    margin: 40px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-100 {
    margin-bottom: 100px;
}
.mlf--30{
    margin: 0px 30px;
}
.font-dark {
    color: #222 !important;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-100 {
    padding-bottom: 100px;
}

.center1{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.form-control{
    padding: 13px 10px !important;
}
/* ========================================
===============color codes ===============*/

.light-text{
     color: #F6F6F6;

}
.btn-v1{
    transition: all .3s ease-in !important;
}
.btn-v1:hover{
    background:#fff;
    color: #31AC83;
border: 1px solid #31AC83;

}
.hover-left{
    transition: right .3s ease-in !important;
    position: relative;
    right: 0;
}
.green-theme{
    background: transparent linear-gradient(53deg, #31AC83 0%, #70C280 45%, #BFDD7D 100%) 0% 0% no-repeat padding-box;
opacity: 1;
    width: 30px;
    height: 30px;
    position: relative;
}

.bg-green{
    background-color:#31AC83;
}
.bg-light-green-btn{
    transition: all .3s ease-in-out !important;
}
.bg-lightest-green-btn{
    transition: all .3s ease-in-out !important;
}
.bg-lightest-green-btn:hover{
    border:1px solid  #BFDD7D;
    background: #fff;
    color:#BFDD7D !important;
}
.bg-light-green-btn:hover{
 border:1px solid #70C280;
    background: #fff;
    color:#70C280 !important;
}
.dark-text{
    color: #090909;
}
.text-green{
  color:#31AC83;  
}
.light-green{
    color:#70C280;
}
.lightest-green{
    color:#BFDD7D;
}
.bg-lightest-green{
    background-color: #BFDD7D;
}
.bg-light-green{
    background-color:#70C280;
}
/* ========================================
===============navbar===============*/


@media(max-width:992px){
.top-bar{
        display: none;
    }   
}
.top-bar{
    background-color:#060221;
    font-weight: 100;
    padding-left: 20px;
        padding-right:20px;
}
.nav-item {
    margin-left: 15px;
}

.nav-link {
        font-weight: 600;
}
.contact-no{
    font-size: 10px;
     letter-spacing: 1.01px;
}
.soc-icon{
    color:#060221;
    border-radius: 100%;
    padding: 10px;
    font-size: 12px;
    margin: 0 3px;
    text-align: center;
}
.social-link ul li:hover a .green-theme{
    background: #fff;


}
@media(max-width:767px){
    .navbar-brand{
        display: contents;
    }
}

/* hamburger menu */
@media (max-width: 992px) {
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        display: block
    }

    .hamburgurMenu {
        background: none;
        border: none;
    }
     .hamburgurMenu:focus{
        background: none;
        border: none;
         outline: none;
    }
}

@media (min-width: 993px) {
    .hamburgurMenu {
        display: none;
    }
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.title{
    text-transform: uppercase;
    font-weight: 700;

    position: relative;
    display: inline-block;
    transition: transform 0.5s, color 0.5s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}
.section-title .text-boreder {
    position: absolute;
    z-index: 1;
    font-size: 150px;
    line-height: 1;
    opacity: 0.07;
    top: -108px;
    left: 0;
    margin-bottom: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
/*============================================
==============================Home============*/

#home {

    background-image: url(../images/four-woman-at-the-conference-room-1181421.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

}
.get-started{
    background-color:rgba(10,10,10, 0.6);
   
}

.hero-head-font{
    letter-spacing: 1.3px;
    font-size: 3rem;
}
.text-font{
    font-weight:100;
    font-size: 14px;
    letter-spacing:0.9px
}
.btn-font{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2.3px;
    padding: 10px 20px;
    border-radius: 0px !important;
}

.btn-green:hover{
    background:#31AC83 ;
    color:#fff;
    letter-spacing: 2px !important;
}

.btn-green:hover i{
    right: -6px;
    color:#fff;
}
.btn-green i {
    transition: right .3s ease 0s;
    position: relative;
    right: 0;
    font-size: 12px;
}

.btn{
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.grabbable {

    cursor: e-resize;

}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: ew-resize;

}
/*===============================
============Service=============*/

.services-heading{
    line-height: 50px;
    letter-spacing: 1.2px;
    font-weight: 800;
    font-size: 3rem !important;
}

.services-card:hover{
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    /*transform: translateY(-5px);*/
}
.services-card{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    transition: all .8s;
    border-radius: 0px !important;
    border: 0px !important;
width: 22rem !important;
}
.card-body{
    padding:2rem;
}
.tracking-in-contract {
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-2 12:54:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}
@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}


.flip-2-hor-top-fwd{
    transition: all 0.3s ease-in !important;
}
.flip-2-hor-top-fwd:hover {
    -webkit-animation: shadow-drop-2-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: shadow-drop-2-br .8s ease-in !important;
}

@-webkit-keyframes shadow-drop-2-br {
    0% {
        -webkit-transform: translateZ(0) translateX(0) translateY(0);
        transform: translateZ(0) translateX(0) translateY(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px) translateX(-12px) translateY(-12px);
        transform: translateZ(50px) translateX(-12px) translateY(-12px);
        -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-2-br {
    0% {
        -webkit-transform: translateZ(0) translateX(0) translateY(0);
        transform: translateZ(0) translateX(0) translateY(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px) translateX(-12px) translateY(-12px);
        transform: translateZ(50px) translateX(-12px) translateY(-12px);
        -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}



.services-card:focus{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

@media(min-width:768px) and (max-width:1200px){
 .services-heading{
   line-height: 36px;
    letter-spacing: 0.5px;
    font-size: 18px;
}
}   


@media(max-width:767px){
    .services-heading{
   line-height: 46px;
    letter-spacing: 1.2px;
    font-size: 30px;
}
}

.green-btn{
   letter-spacing: 1.5px;
    font-size: 14px;
    border-radius: unset;
}


@media(max-width:767px){
    .services-cards{
        justify-content: center;
    }
    
    .services-card{
        margin: 15px auto;
        transition: all .5s;
    }
    
}
.service-icon{
   font-size: 27px;
}

.service-card-title{
    font-size: 16px
}

.service-card-text{
    font-size: 12px;
    line-height: 20px;
}

@media(min-width:768px){
    .services-second-row{
        margin-top:24px;
        margin-bottom: 88px;
    }
    .go-down{
        position:relative;
        top: 60px;
    }
    .services-cards-column{
        display: flex;
    justify-content: flex-end;
    }
    .card-4{
        margin: auto;
    }
}

@media(min-width:767px) and (max-width:992px){
    .card-2, .card-3{
        width: 14rem !important;
    }
}

.lists{
    list-style:none;
}

.arrow-icon{
    color: #828282;;
    border-radius: 100%;
    padding: 3px 4px;
    margin-right: 12px;
}

.about-content{
    background-color: #828282;
    background-image: url(../images/world-map-white-png-1.png);
background-position:center ;
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
}
.women-img{
    background-image: url(../images/smiling-woman-wearing-black-sweater-1587009.png);
    background-size: cover;
    background-color: #828282;
    height: 100%;
}

.about-tag{
    font-size: 14px;
    letter-spacing: 1.8px;
}

.about-heading{
    letter-spacing: 1.8px;
    font-size: 45px;
    font-weight: 800;
}
.hover-left:hover{
    right: -6px;
    cursor: pointer;
}


@media(max-width:767px){
    .about-heading{
    line-height: 40px;
    letter-spacing: 1.8px
    
} 
}

@media(min-width:768px) and (max-width:1024px){
        .about-heading{
font-size: 33px;
    
}
    }
.about-list{
    padding-left: 0;
    line-height: 34px;
    font-size: 15px;
    letter-spacing: 1.7px;
}


/*===================================================
===================Portfolio=====================*/

.masonry { /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.masonry .item {
    position: relative;
    display: inline-block;
    background: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.masonry .item img {
    max-width: 100%;
}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
@media only screen and (max-width: 767px){
html, body{
    overflow-x:hidden ;
}
}
.image {
    display: block;
    width: 100%;
    height: auto;
}

.item:hover .image {
    opacity: 0.3;
}

.item:hover .overlay {
   background: transparent linear-gradient(53deg, #31AC83 0%, #70C280 45%, #BFDD7D 100%) 0% 0% no-repeat padding-box;
    opacity: 0.88;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in;

}

.name {
    color: #495057;
    font-size: 16px;
       font-weight: 600;
}

.lightbox i{
    font-size:35px;
    color:#fff;
}

.text-theme{

    color: #28a745;

}

/*====================================================
=============Work-hors==============================*/

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.work-hours{
    background-color: rgba(51, 51, 51, 0.56);
    background-image: url("../images/counter-bg.jpg");

    background-size: cover;
    background-position: bottom;

    background-blend-mode: color-burn;
}

.work-icon{
    color: #BFDD7D;
    font-weight: 800;
    font-size: 46px;
}

/*====================================================
=============pricing==============================*/

.pricing-heading{
    letter-spacing: 1.2px;
    line-height: 50px;
    font-weight: 700;
}

pricing-tag{
    font-size: 16px;
    letter-spacing: 0.5px;
}

.card-pricing .head-1 {
    padding-top: 30px !important;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: Poppins, sans-serif;
}

.pricing-head-font {
    color: #414141 !important;
}

.price {
    font-weight: 700 !important;
    font-size: 30px !important;
}

.card-pricing {
    margin-left: 0;
    margin-right: 0;
}

.card-pricing .card-body ul {
    font-size: 14px !important;
}

.price-center .head-1 {
    color: #fff !important;
}

.price-center .list-unstyled li {
    padding: .5rem 0;
    color: #fff !important;
}

.center-btn {
    background: #2a2a2a !important;
    border-left: 2px solid #f8f9fa !important;
}


.card-pricing:hover {
    box-shadow: 0px 50px 60px rgba(32, 33, 36, 0.28) !important;
    -webkit-transition: box-shadow .6s ease-in;
    transform: translateY(-10px);
}

.contact-text h3 {
    font-weight: 800;
    font-family: Poppins, sans-serif;
    border-left: 6px solid #fff !important;
    padding-left: 5px;
    line-height: 10px;
}

.card-pricing {
    transition: .4s !important;
    border-radius: 5px;
    padding: 15px;
}

.card-pricing.popular {
    z-index: 1;
    border: 3px solid #007bff;
}

.card-pricing .list-unstyled li {
    padding: .5rem 0;
    font-size: 11px;
    letter-spacing: 0.9px;

}

.regular {
    box-shadow: 0px 3px 6px #00000029;
}

.startup {
    background: #131A74 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.buissiniess {
    background: #FFFFFF 0% 0% no-repeat padding-box;

}

.pricing-button {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
}
.check-icon{
    border-radius: 100%;
    padding: 5px;
}

.price-tag{
 font-size:15px; 
    letter-spacing: 1.2px
}

.some-info{
    font-size: 10px;
    letter-spacing: 0.9px;
    line-height: 12px;
}
.card-price{
    font-size: 30px;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
}


/*================================================
=========================Contact================*/

.contact-form{
    background-image: url(../images/bg-img1.png);
    background-size: cover;
}

#contactForm{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 3px;
}

.form-control{
    font-size: 10px;
}

.text-tag{
    letter-spacing: 1.2px;
    font-weight: 200;
}

.contact-heading{
    font-weight: 800 !important;
    line-height: 40px;
    letter-spacing: 1.2px;
}
font-type{
   font-weight: 100;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1.2px; 
}

/*===================================
==================Blog==============*/

.h-button {
   border: none !important;
   padding: 12px 10px;
   color:#fff !important;
   transition: all 0.3s ease !important;
   font-size: 14px;
   font-weight: 600;
}

.h-button:hover{
    background:#fff !important;
    color:#BFDD7D !important;
}
.blogWrap{
     background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 1px #00000029;
border-radius: 0px;
opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.blogWrap:hover{
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);;
    transform: translateY(-5px);
}
.blog-content .text{
    font-size: 14px;

}

.blog-content .load{

    line-height: 15px;
   color: #31AC83;
    font-size: 12px;
    letter-spacing: 1px;
}
.blog-content .load i{
    transition: right .3s ease 0s;
    position: relative;
    right: 0;
}
.blog-content .load:hover{
    color:#70C280;
}

.blog-content .load:hover i {
    right: -6px;
}

.context{
    font-size: 12px;
    line-height: 20px;
    color: #585757;
    font-weight: 400;
}

.blog-btn{
    border-radius: none;
    letter-spacing: 2.9px;
    font-size: 16px;
}

/*=========================================
=========testimonials=========================*/

.testimonial {
    background-color: #F6F6F6;
}

.testimonials {
    font-size: 24px;
    letter-spacing: 1.25px;
    line-height: 38px;

}

.carousel-indicators {
    padding-top: 20px;
    bottom: -35px;
    text-align: right;
    cursor: pointer;
}

.carousel-indicators li {
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #ffffff;

}

.carousel-indicators .active {
    background-color: #70C280;
}

/*
.carousel-inner::before {
    content: "\f10d";
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 200px;
    text-align: center;
    color: #e6e6e6;
    z-index: 0;
    margin-top: 100px;
    margin-left: 40%;
}
*/

.carousel-item {
    z-index: 9;
}

.testimonial-image{
    border-radius: 100%;
    margin: auto;
}


/*=================================================
===========================Footer=================*/

footer{
    background-color:#3B4450;
}

.some-text{
    color: #87878B;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 18px;
}

.footer-links li a{
     color: #87878B;
    font-size: 12px;
     letter-spacing: 0.9px;
    line-height: 18px;
}

.footer-links li{
    margin: 15px 1px;
}



.footer-social-link ul li{
    margin : 15px 4px;
}

.footer-input{
     border-radius: 0px;
    letter-spacing: 1.2px
        
}

.send-btn{
    border-radius: 0px;
     letter-spacing: 1.2px
}

/*===============================================
====================Loader=======================*/

.svg {
    animation: 2s linear infinite svg-animation;
    max-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes svg-animation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg)
    }
}


.circle1 {
    animation: 1.4s ease-in-out infinite both circle-animation1;
    display: block;
    fill: transparent;
    stroke: #70C280;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
}


@keyframes circle-animation1 {
    0%,
    25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
    }

    50%,
    75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
    }

    100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
    }
}


/*Got to top */
#button {
    display: inline-block;
    background:linear-gradient(180deg, #BFDD7D 0%, #31AC83 100%);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 0px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}
.sec-head{
    padding-left: 60px;
    padding-top: 60px;
}

.counter-text{
    font-size: 45px;
    font-weight: 700;
}

.pricing-sub{
    top: 80px !important;
    left: auto !important;
}
.text-border{
    opacity: 0;
}
.card:hover .text-border{
    position: absolute !important;
    z-index: -1;
    font-size: 150px;
    line-height: 1;
    opacity: 0.08;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #70c280;
    font-family: popppins, sans-serif;
    font-weight: bold;
}
.active1 a{

    color: #28a745 !important;
    -webkit-transition: .9s all ease-out;
    -moz-transition: .9s all ease-out;
    /*transition: .9s all ease-out;*/
    transition: width 2s ease-out;
    opacity: 1;
}